@model TobReservationSystem.Models.CoachJourney
@{
    ViewBag.Title = Model.Destination;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Journey Details</h2>

<ul>
    <li>Destination: @Model.Destination</li>
    <li>Date of Journey: @Model.DateOfJourney.ToLongDateString()</li>
    <li>Seats Available: @Model.SeatsAvailable</li>
    <li>Departing From: @Model.DepartFromCenter.Name</li>
</ul>