@model TobReservationSystem.Models.Customer

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Details</h2>

<ul>
    <li>Name: @Model.Name</li>
    <li>Birthdate: @Model.Birthdate.ToLongDateString()</li>
    <li>Membership Type: @Model.MembershipType.Name</li>
</ul>
