@model IEnumerable<TobReservationSystem.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<p>
    @Html.ActionLink("New", "New", "Customers", new { @class = "btn btn-primary" })
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Membership Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var customer in Model)
        {
         <tr>
             <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id}, null)</td>
             <td>@customer.MembershipType.Name</td>
             <td>@Html.ActionLink("Delete", "Delete", "Customers", new { id = customer.Id}, null)</td>
         </tr>
        }

    </tbody>
</table>
